body {
	background-color: white;
	color: black;

	margin: 24px;
	padding: 0px;

	font-family: "DejaVu Sans Mono", "Roboto", monospace;
	font-variant-numeric: tabular-nums lining-nums;
	font-kerning:none;
	
	font-size: 1em;
	line-height: 1.1;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: palevioletred;
}

a:active {
	color: black;
}

img {
	max-width: 100%;
	height: auto;
	border: 1px solid black;
}
pre {
	padding: 12px;
	width: fit-content;
	border: 1px solid black;
}

.main {
	font-weight: bold;
	margin-top: 200px;
	text-align: center;
	font-size: 2.25em;
	/*border: 1px solid yellow;
	*/
}

.centered {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
	/*border: 1px solid red;
	*/
}

.topnav {
	font-weight: bold;
	text-align: right;
	font-size: 2em;
}

.mainnav {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	
	padding-left: 8px;
	padding-right: 8px;
	
	/*border: 1px solid green;
	*/
}

.main h1 {
	font-size:1.75em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main h2 {
	font-size:1em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main a {
	font-size:1.25em;
}


.main ul {
	list-style-type: none;
	padding-left: 0;
}

.about:hover {
	color: palevioletred
}
.gitlab:hover {
	color: #fc6d26;
}
.codeberg:hover {
	color: #2185d0 ;
}
.github:hover {
	color: #6e5494;
}
.mastodon:hover {
	color: #563acc;
}
.reddit:hover {
	color: #FF4500
}
.steam:hover {
	color: #00adee;
}

